<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="heading">YouTube Downloader</h1>
    <input id="url-input" class="URL-input" placeholder="Video URL e.g. https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <button class="convert-button">Convert</button>
    <select name="quality" id="quality-choose"><%- choice %></select>
</body>
<script src='script.js'></script>
</html>